<!DOCTYPE html>
<footer class="navigation">
  <nav class="navbar navbar-expand" id="navbar">
    <div class="container-fluid justify-content-center">
      <!-- Investors<span> Chatbot</span> -->
      <p class="p-0 m-0 text-center">
        <img src="{{ url_for('static', filename='pictures/Logo.png') }}" /><p class="divider">|</p>©
        Copyright 2024 InfoBeans Technologies Limited. Intranet Software -
        Public Access Restricted (Build Version:1.0.1.0)
      </p>
    </div>
  </nav>
</footer>
