<!DOCTYPE html>
<!-- Header Start -->
<header
  class="navigation"
  style="
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
      rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
    top: 0px;
  "
>
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home_page') }}">
        <!-- Investors<span> Chatbot</span> -->
        <img
          src="{{ url_for('static', filename='pictures/Logo.png') }}"
          alt=""
        />
      </a>
      <a class="navbar-brand" href="">
        {% if title_brand %} {{title_brand| safe}}{% else %} {{
        navbar_brand|safe }} {% endif %}
      </a>

      {% if current_user.is_authenticated %}
      <a class="logout-btn" href="{{  url_for('auth.admin_logout') }}"
        ><svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
          data-testid="PowerSettingsNewOutlinedIcon"
          aria-label="Log Out"
        >
          <path
            d="M13 3h-2v10h2V3zm4.83 2.17-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"
          ></path>
        </svg>
      </a>
      {% endif %}

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample09"
        aria-controls="navbarsExample09"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span>
      </button>
    </div>
  </nav>
</header>
<!-- Header Close -->
