<!doctype html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}">
<!-- Icon Font Css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/themify/css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/magnific-popup/dist/magnific-popup.css') }}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/slick-carousel/slick/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/slick-carousel/slick/slick-theme.css') }}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
<script src="{{ url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}" ></script>