<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Report</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Icons. Uncomment required icon fonts -->
  

    <style>
      h1 {
        color: #aa142d;
      }

      .progress-bar {
        background-color: #aa142d;
        font-weight: bold;
      }

      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3,
      h4,
      .h4,
      h5,
      .h5,
      h6,
      .h6 {
        font-family: "Lexend", sans-serif;
        font-weight: 600;
      }

      .hr-theme-ib {
        display: flex;
      }

      .hr-theme-ib .hr-line {
        width: 100%;
        position: relative;
        margin: 15px;
        border-bottom: 1px solid #000;
      }

      .hr-theme-ib .hr-icon {
        position: relative;
        top: 3px;
      }

      .w-33 {
        width: 33%;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .overall-right:after {
        position: absolute;
        right: 0;
        content: "";
        top: 0;
        height: 100%;
        border: 1px solid #ccc;
      }
      .overall-right {
        position: relative;
      }
    </style>
  </head>

  <body class="bg-white">
    <div
      class="container d-flex justify-content-between align-items-center justify-content-between"
    >
      <img src="{{ base_dir }}/static/public/images/company_logo.jpg" alt="" />
      <h1><strong>Interviewer Name: {{candidate.name}}</strong></h1>
    </div>
    <hr />
    {% if report_data %}
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <h2 class="text-center text-dark mt-3 mb-5"><u>Overall Rating</u></h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="section d-flex align-items-center text-center">
          <div class="w-50 overall-right">
            <h2 class="text-dark mt-3 mb-3">Interviewer's Rating</h2>
              <h6> Confidence Score (CS): {{  overall.overall_interviewer_confidence['CS']}}%</h6>
              <h6> Nervousness Score (NS): {{  overall.overall_interviewer_confidence['NS']}}%</h6>
              <h6> Confidence Level (CL): {{  overall.overall_interviewer_confidence['CL']}}</h6>
            <ul>
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_interviewer_video_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">Video Analysis</h6>
              </li>
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_interviewer_text_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">
                  Text Sentiment Analysis
                </h6>
              </li>
              {% if overall.interviewer_audio_report %}
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_interviewer_audio_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="w-50">
            <h2 class="text-dark mt-3 mb-3">Candidate's Rating</h2>
            <h6> Confidence Score (CS): {{  overall.overall_candidate_confidence['CS']}}%</h6>
            <h6> Nervousness Score (NS): {{  overall.overall_candidate_confidence['NS']}}%</h6>
            <h6> Confidence Level (CL): {{  overall.overall_candidate_confidence['CL']}}</h6>
            <ul>
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_candidate_video_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">Video Analysis</h6>
              </li>
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_candidate_text_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">
                  Text Sentiment Analysis
                </h6>
              </li>
              {% if overall.candidate_audio_report %}
              <li>
                <img
                  class="w-100"
                  src="{{ base_dir }}/uploads/reports/graphs/_overall_candidate_audio_report_{{overall.candidate_id}}.svg"
                />
                <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div style="page-break-before: always"></div>

    <div class="">
      <div class="col-md-12">
        <div class="section">
          <h2 class="text-center text-dark mt-5 mb-5">
            <u>Questions Rating</u>
          </h2>
        </div>
      </div>

      {% set list_length = report_data|length %} {% for video_report,
      video_process in report_data %} {% set index = loop.index %} {% if index
      <= (list_length) %} {% if index == list_length %} {% set
      next_video_process=report_data[index-1][1] %} {% else %} {% set
      next_video_process=report_data[index][1] %} {% endif %} {% if
      (next_video_process.start_duration|int -3) <=
      video_process.end_duration|int <= ((next_video_process.start_duration|int)
      + 3) and video_process.speaker=='Interviewer' %}

      <div class="question-wrapper mt-3">
        <h3 class="font-weight-bold text-dark">
          <i
            class="fa fa-question-circle"
            aria-hidden="true"
            style="color: #aa142d"
          ></i>
          {{video_process.interview_transcript}}
        </h3>
        <div class="question-graphs d-flex align-items-center text-center">
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_text_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Text Sentiment Analysis</h6>
          </div>
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_frame_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Video Analysis</h6>
          </div>

          {% if video_report.audio_report %}
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_audio_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
          </div>
          {% endif %}
        </div>
      </div>

      {% elif (next_video_process.start_duration|int -3) <=
      video_process.end_duration|int <= ((next_video_process.start_duration|int)
      + 3) and video_process.speaker == 'candidate' and
      video_process.start_duration != '0' %}

      <div class="question-wrapper mt-3">
        <h3 class="font-weight-bold text-dark">
          <i
            class="fa fa-check-circle"
            aria-hidden="true"
            style="color: #228b22"
          ></i>
          {{video_process.interview_transcript}}
        </h3>
        <div class="question-graphs d-flex align-items-center text-center">
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_text_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Text Sentiment Analysis</h6>
          </div>
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_frame_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Video Analysis</h6>
          </div>
          {% if video_report.audio_report %}
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_audio_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="hr-theme-ib">
        <div class="hr-line"></div>
        <div class="hr-icon">
          <img
            class="w-100"
            src="{{ base_dir }}/static/public/images/fav.png"
          />
        </div>

        <div class="hr-line"></div>
      </div>
      <div style="page-break-before: always"></div>

      {% endif %} {% if index == list_length %} {% if video_process.speaker ==
      'candidate' %}
      <div class="question-wrapper mt-3">
        <h3 class="font-weight-bold text-dark">
          <i
            class="fa fa-check-circle"
            aria-hidden="true"
            style="color: #228b22"
          ></i>
          {{video_process.interview_transcript}}
        </h3>
        <div class="question-graphs d-flex align-items-center text-center">
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_text_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Text Sentiment Analysis</h6>
          </div>
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_frame_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Video Analysis</h6>
          </div>
          {% if video_report.audio_report %}
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_audio_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
          </div>
          {% endif %}
        </div>
      </div>
      {%elif video_process.speaker == 'Interviewer'%}
      <div class="question-wrapper mt-3">
        <h3 class="font-weight-bold text-dark">
          <i
            class="fa fa-question-circle"
            aria-hidden="true"
            style="color: #aa142d"
          ></i>
          {{video_process.interview_transcript}}
        </h3>
        <div class="question-graphs d-flex align-items-center text-center">
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_text_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Text Sentiment Analysis</h6>
          </div>
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_frame_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Video Analysis</h6>
          </div>

          {% if video_report.audio_report %}
          <div class="w-50 p-3">
            <img
              class="w-100"
              src="{{ base_dir }}/uploads/reports/graphs/_audio_analysis_chart_{{video_report.video_process_id}}.svg"
            />
            <h6 class="font-weight-bold text-dark">Audio Analysis</h6>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %} {% endif %} {% endif %} {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
